body {
    -webkit-app-region: drag;
    -webkit-user-select: none;
    margin: 0px;
  }

  header{
    cursor: move;
  }

  #primary-ul li {

    list-style: none;
    float: left;
    text-align: center;

  }

  #primary-ul li a {
    -webkit-app-region: no-drag;
    -webkit-user-select: auto;
    font-weight: bold;
    text-decoration: none;
    color: white;
    transition: all 1s;
    font-size: 18px;
  }

  #primary-ul li a:hover {
    color: orange;
  }

  #primary-ul {
    padding-left: 8%;
    margin-block-start: 0em;
    margin-block-end: 0em;
    
  }

  .auto-hide-header {
    height: 80px;
    background-color: #23ac73;
    /* background: linear-gradient(to bottom,#23ac73 85%, #ffffff); */
  }


  .level-pro {
    position: relative;
    z-index: 99999999;
  }

  #logo {
    padding-top: 15px;
  }

  .linkFun {
    /* display: none; */
    width: 90px;
    padding-top: 28px;
    padding-left: 1%;
  }


  .menu-cc img{
    width: 30px;
    height: 30px;
    float: right;
    -webkit-app-region: no-drag;
    cursor:pointer;
  }

/* 添加了开关灯渐变效果 */

.clock {
    text-align: center;
    /* margin-top: 3.5em; */
    vertical-align: middle;
    font-size: larger;
    font-weight: bold;
    font-size: 64px;
}

@media screen and (max-width: 860px) {
    .clock {
        font-size: larger;
    }
}

@media screen and (max-width: 360px) {
    #primary-ul li {
        display: none;
    }
}

.button {
    margin-top: 1em;
    text-align: center;
}


#box {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 40%;
}

.box0 {
    margin-top: 1em;
}

.box1 {
    margin-top: 2em;
}

#container {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

@font-face {
    font-family: zcool-happy;
    src: url('../font/站酷快乐体2016修订版.ttf');
}

.config-input {
    padding-top: 5px;
    text-align: center;
    font-family: zcool-happy;
}

.button button {
    margin-left: 40px;
    margin-right: 30px;
    background-color: #68c29d;
    color: #FFFFFF;
    cursor: pointer;
}

.button button:hover {
    background-color: #188054;
}

/* loading */
#loading-mask {
    background: #333439;
    width: 100%;
    height: 100%;
    opacity: 1;
    filter: alpha(opacity=100);
    position: fixed;
    text-align: center;
    left: 0;
    top: 0;
    z-index: 999999999;
    animation: fadeOut 1s linear infinite;
}

.loading-img {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 40%;
}

.loading-img img {
    width: 15%;
}


@keyframes clockwise {

    0% {
        transform: rotate(0);
    }

    25% {
        transform: rotate(90deg);
    }

    50% {
        transform: rotate(180deg);
    }

    75% {
        transform: rotate(270deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes anti-clockwise {

    0% {
        transform: rotate(0);
    }

    25% {
        transform: rotate(-90deg);
    }

    50% {
        transform: rotate(-180deg);
    }

    75% {
        transform: rotate(-270deg);
    }

    100% {
        transform: rotate(-360deg);
    }
}

@keyframes scale1-2 {
    0% {
        transform: scale(1.0);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1.0);
    }
}

.scale1-2 {
    animation: scale1-2 2s linear infinite;
}

.clockwise {
    animation: clockwise 2s linear infinite;
}

.anti-clockwise {
    animation: anti-clockwise 4s linear infinite;
}


/* 渐变效果 */

@keyframes fadeOut {
	0% {
	opacity: 0.8; /*初始状态 透明度为0*/
	}
	20%{
		opacity: .75;
	}
	50% {
		opacity: .5; /*中间状态 透明度为0.5*/
	}
	70%{
		opacity: .25;
	}
	100% {
		opacity: 0; /*结尾状态 透明度为1*/
	}
}